/.vscode/
/node_modules/
/coverage/
/.rollup.cache/
/docs/
/types/
/dist/
/esm/
/test-results/
/.parcel-cache/
/.nyc_output/
/npm-debug.log
**/*.tsbuildinfo
lighthouse-report.html
lighthouse-report.json